body{
   /* background-color: rgb(19, 19, 18);
    */
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20240913/pngtree-stunning-red-and-blue-smoke-images-for-download-image_16191211.jpg");
      background-size: cover;
}
.head{
color:aliceblue;
font-size: 4vw;
text-align: center;
}

.card{
   cursor: pointer;
    background-color: rgb(220, 226, 226);
    margin: 10%;
    height: 400px;
    width: 300px;
    border-radius: 20px;
    
    display: flex;

    
}
  
 img{
     
    height: 200px;
    width:300px ;
    border-radius: 20px;
    animation: expand 1s forwards;
 
 }
 @keyframes expand{
    0%{
         transform: translateY(2%);
            opacity: 0.8;
        }
    100%{
        transform: translateY(0%);
        opacity: 1;
    } }

    img:hover{
      animation: expands 0.5s forwards;
    }
    @keyframes expands {
      0%{
transform: scale(0,0);
      }
      100%{
        transform: scale(1,1);
      }
    }
 .content{
    display: flex;
    line-height: 1;;
    flex-direction: column;  
     padding: 10px;
    justify-content: center;
    align-items: center;
 }
 .desc{
    color:rgba(0, 4, 7, 0.433);
  
     }
     .book{
        background-color: rgb(12, 12, 12);
        color: white;
        padding: 2px;
        border-radius: 5px;
        margin-left:180px;
        text-decoration: none;
        
     }
     .dj:hover{
 -webkit-text-fill-color: rgba(14, 107, 189, 0.668);
     }
 
     .card:hover{
        animation: expandss 0.5s forwards;  }

      @keyframes expandss {
      0%{
transform: translate(0,0);
      }
      100%{
        transform: translate(-20px,-30px);
      }
    }
  .book:hover{
   background-color:red;
  }
    .back{
    background-color: #FF6B4A;
    padding: 5px;
    float: left;
    font-size: small;
    border-radius: 20px;
         -webkit-text-fill-color: white;
             text-decoration: none;

    }
    .back:hover{
        background-color:white;
         -webkit-text-fill-color: black;
    }
    
  