.banner{
    /* position: absolute; */
    background-image: url(' https://static.vecteezy.com/system/resources/thumbnails/039/213/277/small_2x/beautiful-tropical-beach-banner-white-sand-coco-palms-travel-tourism-wide-panorama-summer-sea-horizon-idyllic-island-nature-scene-amazing-beach-landscape-luxury-island-resort-vacation-or-holiday-photo.jpg');
    opacity: 0.9;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    width: 100%;
    overflow-x: auto;  
     
}
@keyframes overflow{
    0%{
        transform: translateY(10%);
        opacity: 0;
    }
    30%{
        transform: translateY(8%);
        opacity: 0.3;
    }
        60%{
            transform: translateY(5%);
            opacity: 0.6;
        }
        80%{
            transform: translateY(2%);
            opacity: 0.8;
        }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}
body{
 font-family: 'Playfair Display', serif;
    margin: 0px;
    top:0;
    padding: 0px;
 overflow-y: hidden
 ;
    max-width: 100%;
    
}
.nav{
    
    justify-content: center;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.723);
    width: 100%;
    display: flex;
    
     height: 70px;
       
}
.nav a{
       text-decoration: none;
        margin-left: 20px;
}
.nav a:hover{
    color: rgb(0,0,0);
    text-decoration: underline red;
}
.com{
  
    margin-right: 55%;
 
 margin-top:0px;
 color:rgba(0, 0, 0, 0.736);
 font-size:3vw;
}
span{
   color: red;
   font-weight: 2.6em;
}
.head{
    margin-top: 120px;
    font-family: 'Playfair Display', serif;
    font-size:6vw;
 text-align: center;
 color: rgb(0,0,0);
 opacity: 0.8;
 font-weight: 900;
 line-height:1.5;
  animation:  overflow 0.5s forwards;

}
.subhead{
    text-align: center;
    color: rgba(0, 0, 0, 0.736);
      background-color: rgba(255, 255, 255, 0.081);
     
 letter-spacing: 1px;
 font-size: 2.5vw;
 animation:  overflow 1.5s forwards;
  
}
.sub-2{
    text-align: center;
    color:rgba(30, 27, 233, 0.778);
    background-color: rgba(255, 255, 255, 0.141);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    font-size: 2vw;
    animation:  overflow 2.5s forwards;
}
.proud{
     
   
    float: left;
    margin-top:50px ;
    margin-bottom: 40px;
    margin-left: 100px;
    font-weight: 1000;
    /* padding: 1px; */
 font-family: 'Playfair Display', serif;
    font-size: 2.2rem;
    color: red;
     
    display: block;
     
    letter-spacing: 2px;
    text-align: center;
   
    background-color: rgba(255, 255, 255, 0.638);
    border-radius: 20px;
    width: 250px;
    line-height:1;
    height: 90px;
    animation:  overflow 3.5s forwards;

}
h5{
    font-size: small;
    color:rgba(0, 0, 0, 0.774);
}
.bar{
    margin-top: 200px;
}
 
 
 